<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      /* Style for the navigation menu */
      nav {
        background-color: blue;
        padding: 10px;
        text-align: center;
      }

      nav a, nav button {
        color: white;
        font-size: 16px;
        margin: 0 10px;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        background-color: blue;
        border: none;
        cursor: pointer;
      }

      nav a:hover, nav button:hover {
        background-color: darkblue;
      }

      .notice {
        text-align: center;
        color: red;
        font-weight: bold;
      }

      main {
        margin-top: 20px;
        padding: 10px;
      }
    </style>
  </head>

  <body>
    <div class="notice"><%= notice %></div>
    <nav>
      <%= link_to "Home", root_path %>
      <%= button_to "Log out", session_path, method: :delete if authenticated? %>
<<<<<<< HEAD
      <%# Add Login link if user is not authenticated %>
      <%= link_to "Login", login_path unless authenticated? %>
=======
>>>>>>> f12c778 (help)
    </nav>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
